/* Animação dos elementos ao dar scroll */
.autoShow { 
    animation: text-appear both 1.5s ease; /* Aplica a animação 'text-appear' com duração de 1.5s */
    animation-timeline: view(); /* Animação é ativada com base na posição do elemento no viewport */
    animation-range: entry 20% cover 70vh; /* A animação começa quando 20% do elemento entra na viewport e termina ao cobrir 70vh */
}

/* Keyframes */
@keyframes text-appear {
    from {
        opacity: 1;
        transform: translateY(150px); /* Começa 150px abaixo da posição original */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Termina na posição original */
    }
} 

.autoShow-featured {
    animation: text-appear both 1.5s ease;
    animation-timeline: view();
    animation-range: entry 50% cover 90vh;
}

@keyframes text-appear {
    from {
        opacity: 1;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.autoShow-image {
    animation: text-appear both 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 5% cover 70vh;
}

@keyframes text-appear {
    from {
        opacity: 1;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.autoShow-footer {
    animation: text-appear both 1.5s ease;
    animation-timeline: view();
    animation-range: entry 1%;
}

@keyframes text-appear {
    from {
        opacity: 1;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 