.autoShow {
    animation: text-appear both 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 20% cover 70vh;
}

@keyframes text-appear {
    from {
        opacity: 1;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.autoShow-featured {
    animation: text-appear both 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 50% cover 90vh;
}

@keyframes text-appear {
    from {
        opacity: 1;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.autoShow-image {
    animation: text-appear both 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 50% cover 50vh;
}

@keyframes text-appear {
    from {
        opacity: 1;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.autoShow-footer {
    animation: text-appear both 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 5%;
}

@keyframes text-appear {
    from {
        opacity: 1;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 