/* Fonts */
@font-face {
    font-family: 'fontmedium';
    src: url('./fonts/PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontbook';
    src: url('./fonts/PPNeueMontreal-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    padding-left: 0.2rem;
}

body {
    background: #f8f8f8;
    color: #171718;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white
}

strong {
    font-family: "fontmedium";
    font-size: 1.12rem;
    font-weight: bold;
}

/* Header */
header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 1.72rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    mix-blend-mode: difference;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
}

.logo {
    font-family: "fontmedium";
    font-size: 1.12rem;
}

nav ul {
    font-family: "fontmedium";
    font-size: 1.12rem;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    color: #f8f8f8;
}

nav a {
    position: relative;
    padding: 0;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.12rem;
    width: 100%;
    height: 0.12rem;
    background-color: #171718;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

nav a:hover::after {
    transform: scaleX(1);
    opacity: 1;
}

nav a:not(:hover)::after {
    transform: scaleX(0);
    transform-origin: right;
}

/* Hero Section */
.hero {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
    width: 100%;
    align-items: center;
}

.hero_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 93%;
}

h1 {
    font-family: "fontmedium";
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.1;
    
}

h2 {
    font-family: "fontmedium";
    font-size: 5rem;
    font-weight: 500;
}

h3 {
    font-family: "fontmedium";
    font-size: 6rem;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.from {
    text-transform: uppercase;
    text-align: right;
    font-size: 1rem;
}

h1 span {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
}

.hero-info {
    text-align: right;
    max-width: 16rem;
}

.hero-info p {
    font-family: "fontmedium";
    font-weight: 100;
    font-size: 1.3rem;
}

.year {
    font-family: "fontbook";
    font-size: 0.87rem;
    text-align: right;
    width: 93%;
    padding-top: 2rem;
}

.scroll-hint {
    font-family: "fontmedium";
    font-weight: 500;
    text-align: center;
    font-size: 11.6rem;
    padding-bottom: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
}

/* Featured Works */
.featured {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-header {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Alinha os itens na base */
    border-bottom: solid #9E9E9E;
    padding-bottom: 1rem;
}

.selected {
    font-family: "fontmedium";
    font-size: 5rem;
    font-weight: 500;
}

.see-more-container {
    display: flex;
    padding-top: 3.5rem;
}

.see-more-link {
    font-family: "fontmedium";
    font-size: 1.12rem;
    text-decoration: none;
    color: #171718;
    position: relative;
}

.see-more-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.12rem;
    width: 100%;
    height: 0.12rem;
    background-color: #171718;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.see-more-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.projects {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.12rem;
}

.project-small {
    width: 100%;
    display: flex;
    gap: 2rem;
    transition: 0.3s ease-in-out;
    border-bottom: solid #9E9E9E;
    padding-bottom: 2.5rem;
    margin-top: 5rem;
}

.project-small.reverse {
    flex-direction: row-reverse;
    margin-top: 5rem;
  }

  .project-small.last {
    border-bottom: none;
    padding-bottom: 0;
  }

.image-placeholder {
    background: rgba(0, 0, 0, 0.2);
    height: 33.6rem;
    width: 45%;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.5s ease;
}

/* Efeito hover para zoom sutil */
.image-placeholder:hover img {
    transform: scale(1.03);
    opacity: 90%;
}

.project-name {
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 33rem;
}

.view-project {
    font-family: "fontbook";
    opacity: 1; 
    transform: translateY(0.5rem); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    font-size: 1.12rem; 
}

.view-project2 {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.view-project.reverse {
    display: block;
    text-align: right;
}

/*.project-small:hover .view-project {
    opacity: 1; 
    transform: translateY(0); /
} */

/* .project-nameheading {
    opacity: 0;
    transform: translateY(0.5rem); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
} */

.project-small:hover .project-nameheading {
    opacity: 1; 
    transform: translateY(0); /
}

.see-more {
    font-family: "fontmedium";
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 2.5rem;
    width: 93%;
}

/* Intro Section */
.intro {
    pointer-events: none;
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.container-about {
    border-top: solid #9E9E9E;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 93%;
    padding-top: 1.2rem;
}

.intro-text {
    width: 45%;
    text-align: left;
}

.intro-about {
    font-family: "fontbook";
    font-size: 1.5rem;
    font-weight: medium;
    line-height: 1.1;
}

.intro-description {
    font-family: "fontmedium";
    font-size: 2rem;
    width: 100%;
    line-height: 1.2;
    margin-left: 4.5rem;
}

/* Expertise Section */

.expertise {
    pointer-events: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.container-expertise {
    border-top: solid #9E9E9E;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 93%;
    padding-top: 1.2rem;
}

.expertise-text {
    width: 55%;
    text-align: left;
}

.expertise-about {
    font-family: "fontbook";
    font-size: 1.5rem;
    font-weight: medium;
    line-height: 1.1;
}

.expertise-list{
    list-style: none;
    width: 45%;
    margin-top: -1.12rem;
}

.expertise-description {
    font-family: "fontmedium";
    font-size: 2rem;
    width: 100%;
    line-height: 1.2;
    border-bottom: solid #9E9E9E;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.expertise-list li p{
    width: 50%;
    text-decoration: none;
    padding: 1.12rem 0;
}

/* Collaborate Section */
.collaborate {
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 16rem;
}

.collaborate-container {
    width: 93%;
    display: inline;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5rem;
}

.cta2 {
    font-family: "fontmedium";
    font-size: 12rem;
    font-weight: 500;
}

.cta3 {
    width: 100%;
    font-family: "fontbook";
    font-size: 1.12rem;
    position: relative;
    padding-bottom: 1rem;
}

.contact-me {
    font-family: "fontmedium";
    font-size: 1.12rem;
    color: #171718;
    text-decoration: none;
    position: relative;
    display: inline-flex;  /* Alterado para flex */
    align-items: center;
    gap: 0.3rem;
    padding-bottom: 0.3rem;  /* Espaço para o underline */
}

.contact-me::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.12rem;  /* Alterado para 0 */
    width: 100%;
    height: 0.12rem;  /* Espessura em px para maior confiabilidade */
    background-color: #171718;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.3s ease;
}

.contact-me:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
}

/* Footer */
.footer {
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f8f8f8;
}

.footer-container {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-title {
    font-family: "fontmedium";
    font-size: 1.12rem;
    font-weight: bold;
    opacity: 0;
}

.footer-rights {
    font-family: "fontmedium";
    font-size: 1.12rem;
    font-weight: 400;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.social-links {
    list-style: none;
    display: flex;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
}

.social-links a {
    font-family: "fontmedium";
    font-size: 1.12rem;
    padding-bottom: 0.3rem;
    position: relative;
    gap: 0.3rem;
    transition: color 0.3s ease-in-out;
}

.social-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.12rem;  /* Alterado para 0 */
    width: 100%;
    height: 0.12rem;  /* Espessura em px para maior confiabilidade */
    background-color: #171718;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.3s ease;
}

.social-links a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
}

.footer-dev {
    font-family: "fontmedium";
    font-size: 1.12rem;
    opacity: 0;
}

/* Página WORKS */

/* ===== PROJECTS ===== */

.projects_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
}

.projects_list{
    width: 100%;
    list-style: none;
}

.projects_list li a{
    display: flex;
    height: 9rem;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 10rem;
    text-decoration: none;
    padding: 2rem 0;
    border-top: 0rem solid #171718;
    position: relative;
    transition: all 0.1s ease;
}

.projects_list li a:hover{
    border-bottom: 0.1rem solid #171718;
}


.projects_list .img_container{
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 5%;
    transform-origin: center;
    transform: translate(0%, -50%) scale(0.8);
    height: 21.25rem;
    width: 31.25rem;
    opacity: 0;
    transition: all 0.2s ease;
}

.projects_list li a:hover .img_container{
    opacity: 1;
    transform: translate(0%, -50%) scale(1);
}

.projects_list .img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Project page */

.hero-projects {
    width: 100%;
  }
  
  .project_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-placeholder-project {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .image-placeholder-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .project-details2 {
    width: 93%;
    padding: 7rem 0;
    display: flex;
    gap: 5rem;
  }
  
  .project-title {
    width: 30%;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-title h1 {
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
  }
  
  .project-description {
    width: 70%;
    font-size: 1.6rem;
    color: #000;
  }
  
  .project-description p {
    margin-bottom: 2.5rem;
    line-height: 1.6;
  }
  
  .project-meta {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
  }
  
  .project-meta-item dt {
    color: #9E9E9E;
    font-size: 1.4rem;
  }
  
  .project-meta-item dd {
    font-weight: 500;
    font-size: 1.4rem;
  }
  
  .img-fullscreen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .img-fullscreen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .next-workcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8rem 0;
  }
  
  .next-work {
    font-family: "fontmedium";
    font-size: 7rem;
    font-weight: 600;
    color: #171718;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    padding-bottom: 0.3rem;
  }
  