/* Fonts */
@font-face {
    font-family: 'fontmedium';
    src: url('./fonts/PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontbook';
    src: url('./fonts/PPNeueMontreal-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #171718;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/* HOME PAGE */

/* Header */
header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 1.72rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    mix-blend-mode: difference;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
}

.logo {
    font-family: "fontmedium";
    font-size: 1.12rem;
}

nav ul {
    display: flex;
    font-family: "fontmedium";
    font-size: 1.12rem;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    color:white;
}

nav a {
    position: relative;
    padding: 0;
    color: white;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.12rem;
    width: 100%;
    height: 0.12rem;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

nav a:hover::after {
    transform: scaleX(1);
    opacity: 1;
}

nav a:not(:hover)::after {
    transform: scaleX(0);
    transform-origin: right;
}

nav a.active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%; /* meio vertical do texto */
    width: 100%;
    height: 1.5px;
    background-color: white;
    transform: translateY(-50%);
    opacity: 1;
  }

/* Hero Section */
.hero {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
    width: 100%;
    align-items: center;
}

.hero_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 93%;
}

h1 {
    font-family: "fontmedium";
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.1;
}

h2 {
    font-family: "fontmedium";
    font-size: 5rem;
    font-weight: 500;
}

h3 {
    font-family: "fontmedium";
    font-size: 6rem;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.from {
    text-transform: uppercase;
    text-align: right;
    font-size: 1rem;
}

h1 span {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
}

.myname {
    font-family: "fontmedium";
    font-weight: 500;
    text-align: center;
    font-size: 11vw;
    padding-bottom: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
}

/* Intro Section */
.intro {
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.container-about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 93%;
}

.intro-text {
    width: 55%;
    text-align: left;
    display: flex;
}

.intro-text h2 {
    font-family: "fontbook";
    font-size: 1.2rem;
    font-weight: medium;
    line-height: 1.1;
    width: 100%;
    padding-top: 1rem;
}

.intro-description {
    width: 100%;
}

.intro-description p {
    font-family: "fontmedium";
    font-size: 2.5rem;
    font-weight: 400;
}

.intro-description a p {
    font-family: "fontmedium";
    font-size: 1.2rem;
    font-weight: 400;
    color: #171718;
}

/* Featured Works */
.featured {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-header {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    padding-bottom: 3rem;
}

.selected {
    font-family: "fontmedium";
    font-size: 5rem;
    font-weight: 500;
}

.see-more-container {
    display: flex;
    padding-top: 3.5rem;
}

.see-more-link {
    font-family: "fontmedium";
    font-size: 1.12rem;
    text-decoration: none;
    color: #171718;
    position: relative;
}

.see-more-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.12rem;
    width: 100%;
    height: 0.12rem;
    background-color: #171718;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.see-more-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.projects {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.12rem;
}

.img-wrapper {
    position: relative;
    width: 100%;
    height: 46rem;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .img-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
    filter: brightness(0.9);
  }
  
  .project-type {
    font-family: "fontmedium";
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    color: #f8f8f8;
    font-size: 1.12rem;
    z-index: 2;
  }

  .project-name {
    font-family: "fontmedium";
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    color: #f8f8f8;
    font-size: 1.12rem;
    z-index: 3;
}

/* Efeito hover zoom */
.img-wrapper:hover img {
   transform: scale(1.05);
    opacity: 90%;
}

.hover-text {
    position: absolute;
    font-family: "fontmedium";
    color: #f8f8f8;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    opacity: 0;
    top: 50%;
    left: 50%;
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-align: right;
    margin-top: 1rem;
}
  
  .img-wrapper:hover .hover-text {
    opacity: 1;
  }

.see-more {
    font-family: "fontmedium";
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 2.5rem;
    width: 93%;
}

/* Expertise Section */

.expertise {
    pointer-events: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15rem;
    padding-bottom: 22rem;
}

.container-expertise {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 93%;
    padding-top: 1.2rem;
}

.expertise-text {
    text-align: left;
    width: 30%;
}

.experience-text h2 {
    font-family: "fontmedium";
    font-size: 5rem;
    font-weight: medium;
    line-height: 1.1;
}

.expertise-text p {
    font-family: "fontbook";
    font-size: 1.2rem;
    padding-top: 2rem;
}
  
  .services-grid {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: end;
}
  
  .service-card {
    position: relative;
    padding: 1.5rem;
    border-color: #9E9E9E;
    border-width: 0.05rem;
    border-style: solid;
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    z-index: 10;
}

.service-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.service-card:hover img {
    opacity: 1; 
}
  
  .service-title {
    font-size: 1.12rem;
    font-family: "fontbook";
    font-weight: bold;
    text-transform: uppercase;
    color: #171718;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}
  
  .service-desc {
    font-family: "fontmedium";
    font-size: 2rem;
    line-height: 1.6;
    color: #171718;
    position: relative;
}

/* Collaborate Section */
.collaborate {
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 16rem;
}

.collaborate-container {
    width: 93%;
    display: inline;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5rem;
}

.cta2 {
    font-family: "fontmedium";
    font-size: 12rem;
    font-weight: 500;
}

.cta3 {
    width: 100%;
    font-family: "fontbook";
    font-size: 1.12rem;
    position: relative;
    padding-bottom: 1rem;
}

.contact-me {
    font-family: "fontmedium";
    font-size: 1.12rem;
    color: #171718;
    text-decoration: none;
    position: relative;
    display: inline-flex;  
    align-items: center;
    gap: 0.3rem;
    padding-bottom: 0.3rem;
}

.contact-me::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.12rem;  
    width: 100%;
    height: 0.12rem;  
    background-color: #171718;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.3s ease;
}

.contact-me:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
}

/* Footer */
.footer {
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f8f8f8;
}

.footer-container {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-title {
    font-family: "fontmedium";
    font-size: 1.12rem;
    font-weight: bold;
    opacity: 0;
}

.footer-rights {
    font-family: "fontmedium";
    font-size: 1.12rem;
    font-weight: 400;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.social-links {
    list-style: none;
    display: flex;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
}

.social-links a {
    color: #171718;
    font-family: "fontmedium";
    font-size: 1.12rem;
    padding-bottom: 0.3rem;
    position: relative;
    gap: 0.3rem;
    transition: color 0.3s ease-in-out;
}

.social-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.12rem;  
    width: 100%;
    height: 0.12rem; 
    background-color: #171718;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.3s ease;
}

.social-links a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
}

.footer-dev {
    font-family: "fontmedium";
    font-size: 1.12rem;
    opacity: 0;
}

/* Página WORKS */

/* Works */

.allworks-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    padding-bottom: 5rem;
  }

  .allworks-container {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .allworks {
    font-family: "fontmedium";
    font-size: 8rem;
    font-weight: 400;
    line-height: 1.1;
}

.projects_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
}

.project-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
}

.projects_list{
    width: 100%;
    list-style: none;
    text-decoration: none;
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* espaçamento entre h3 e p */
}

.projects_list h3 {
    font-family: "fontmedium";
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.1;
}

.projects_list p {
    font-family: "fontmedium";
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.1;
}

.projects_list li a{
    display: flex;
    height: 9rem;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 10rem;
    text-decoration: none;
    padding: 2rem 0;
    position: relative;
    transition: all 0.1s ease;
    border-top: solid #9E9E9E;
}

.lastli {
    border-bottom: solid #9E9E9E;
}

.projects_list .img_container{
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 5%;
    transform-origin: center;
    transform: translate(0%, -50%) scale(0.8);
    height: 21.25rem;
    width: 31.25rem;
    opacity: 0;
    transition: all 0.3s ease;
}

.projects_list li a:hover .img_container{
    opacity: 1;
    transform: translate(0%, -50%) scale(1);
}

.projects_list .img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects_list li a,
.projects_list li a:visited {
  color: inherit;
  text-decoration: none;
}

/* PROJECT PAGE */

.hero-projects {
    width: 100%;
  }
  
  .project_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-placeholder-project {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .image-placeholder-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .project-details2 {
    width: 93%;
    padding: 7rem 0;
    display: flex;
    gap: 5rem;
  }
  
  .project-title {
    width: 30%;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-title h1 {
    font-size: 6rem;
    font-weight: 500;
    margin: 0;
  }

  .project-title p {
    font-family: "fontmedium";
    text-decoration: none;
  }
  
  .project-description {
    width: 70%;
    font-size: 1.6rem;
    color: #171718
  }
  
  .project-description p {
    margin-bottom: 2.5rem;
    line-height: 1.6;
    font-family: "fontmedium";
    font-size: 1.5rem;
  }
  
  .project-meta {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
  }
  
  .project-meta-item dt {
    color: #171718;
    font-size: 1.2rem;
    font-family: "fontmedium";
    padding-bottom: 0.5rem;
  }
  
  .project-meta-item dd {
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "fontbook";
  }
  
  .img-fullscreen {
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .img-fullscreen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .case-study {
    pointer-events: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.case-study-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 93%;
    padding-top: 1.2rem;
}

.casestudy-text {
    width: 55%;
    text-align: left;
}

.casestudy-about {
    font-family: "fontmedium";
    font-size: 5rem;
    font-weight: medium;
    line-height: 1.1;
}

.fontcolor {
    display: inline;
}
  
  .casestudy-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 62%;
    justify-items: end;
}
  
  .casestudy-card {
    position: relative;
    padding: 1.5rem;
    background-color: #272523;
    height: 20rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
  
  .casestudy-title {
    font-size: 1.12rem;
    font-family: "fontbook";
    font-weight: bold;
    color: #f8f8f8;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 0;
    opacity: 1;
    pointer-events: none;
    line-height: 1;
}
  
  .casestudy-desc {
    font-family: "fontmedium";
    font-size: 1.5rem;
    line-height: 1.6;
    color: #f8f8f8;
    position: relative;
    z-index: 1;
}
  
.casestudy-card2 {
    position: relative;
    padding: 1.5rem;
    border-color: #9E9E9E;
    border-width: 0.05rem;
    border-style: solid;
    height: 20rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.casestudy-title2 {
    font-size: 1.12rem;
    font-family: "fontbook";
    font-weight: bold;
    color: #171718;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 0;
    opacity: 1;
    pointer-events: none;
    line-height: 1;
}
  
  .casestudy-desc2 {
    font-family: "fontmedium";
    font-size: 1.5rem;
    line-height: 1.6;
    color: #171718;
    position: relative;
    z-index: 1;
}

.font-title {
    padding-top: 2rem;
    width: 100%;
    text-align: left;
    border-bottom: solid #9E9E9E;
}

.font-about {
    font-family: "fontbook";
    font-size: 2.5rem;
    font-weight: 400;
    opacity: 1;
    color: #171718;
    padding-bottom: 0.5rem;
}

.project-image {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.12rem;
}

.projectimg-wrapper {
    position: relative;
    width: 100%;
    height: 46rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .projectimg-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
    z-index: 1;
  }

  .projectimg-wrapper:hover img {
    transform: scale(1.05);
}

.nextworks {
    margin-top: 10rem;
    width: 93%;
    display: flex;
    margin-bottom: 2rem;
  }

  .img-nextwork {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease-in-out;
  }

  .img-nextwork:hover {
    transform: scale(0.97);
  }
  
  .img-nextwork img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    transition: transform 0.5s ease-in-out;
  }

  .img-nextwork:hover img {
    transform: scale(1.1);
  }

  .nextproject {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 80%;
    font-family: "fontbook";
    color: #f8f8f8;
    font-size: 1.12rem;
    z-index: 2;
    white-space: nowrap; /* evita quebra em múltiplas linhas, opcional */
  }

  .nextprojectname {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); /* centraliza completamente */
    font-family: "fontmedium";
    color: #f8f8f8;
    font-size: 6rem;
    z-index: 2;
    white-space: nowrap; /* evita quebra em múltiplas linhas, opcional */
}

  /* ABOUT PAGE */

.hero-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
  }
  
  .about-container {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    min-height: 85vh; 
  }
  
  .image-placeholder-about {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem; 
    width: 40%;
    height: 98vh;
    overflow: hidden;
    border-radius: 0 1rem 1rem 0;
  }
  
  .image-placeholder-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-data {
    width: 60%;
    padding-bottom: 1.5rem;
  }

  .h1-about {
    font-family: "fontmedium";
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.1;
  }

  .p-about {
    font-family: "fontbook";
    font-size: 1.12rem;
    font-weight: 400;
    width: 60%;
    padding-bottom: 2rem;
  }

  .contact-me2 {
    font-family: "fontmedium";
    font-size: 0.87rem;
    color: #171718;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    display: inline-flex;  
    align-items: center;
    gap: 0.3rem;
    padding-bottom: 0.3rem;
}

.contact-me2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.12rem;  
    width: 100%;
    height: 0.12rem; 
    background-color: #171718;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.3s ease;
}

.contact-me2:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
}

  .social-links-about {
    padding-top: 2rem;
    list-style: none;
    display: flex;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
}

.social-links-about a {
    text-transform: uppercase;
    color: #171718;
    font-family: "fontmedium";
    font-size: 0.87rem;
    padding-bottom: 0.3rem;
    position: relative;
    gap: 0.3rem;
    transition: color 0.3s ease-in-out;
}

.social-links-about a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.12rem;  
    width: 100%;
    height: 0.12rem;  
    background-color: #171718;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.3s ease;
}

.social-links-about a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
}

.experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
  }

  .experience-container {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .experience-container h1 {
    font-family: "fontmedium";
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.1;
  }

  .work-experience {
    pointer-events: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
}

.work-experience2 {
    pointer-events: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
    margin-bottom: 20rem;
}

.container-workexperience {
    display: inline;
    justify-content: space-between;
    align-items: flex-start;
    width: 93%;
    padding-top: 1.2rem;
}

.work-text {
    width: 100%;
    text-align: left;
    border-bottom: solid #9E9E9E;
}

.work-about {
    font-family: "fontbook";
    font-size: 2.5rem;
    font-weight: 400;
    opacity: 85%;
    padding-bottom: 0.5rem;
}

.container-list {
    list-style: none;
    width: 100%;
    justify-content: right;
    justify-items: right;
    
}

.work-list{
    list-style: none;
    width: 50%;
}

.work-description {
    width: 100%;
    border-bottom: solid #9E9E9E;
    justify-content: space-between;
}

.work-list li p{
    width: 60%;
    text-decoration: none;
    padding-top: 1.12rem;
}

.work-title {
    font-size: 1.2rem;
    font-family: "fontmedium";
}

.work-position {
    font-size: 1.12rem;
    font-family: "fontmedium";
    opacity: 85%;
    padding-bottom: 1rem;
}

.work-descriptionnoborder {
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 768px) {
    /* TABLET */

    /* Intro */

    .container-about {
        flex-direction: column;
    }

    .intro-description p {
        font-size: 2rem;
        padding-top: 2rem;
        width: 100%;
    }

    /* Featured Works */
    .selected {
        font-size: 3rem;
    }

    .projects {
    display: flex;
    flex-direction: column;
    }

    .project-name {
        bottom: 1.5rem;
      }

    .projects .img-wrapper {
        width: 100%;
        height: auto;
    }

    .projects .img-wrapper img {
        width: 100%;
        height: 40rem;
    }

    .img-wrapper:hover img {
        pointer-events: none;
     }

    .img-wrapper:hover .hover-text {
        pointer-events: none;
    }

    /* Expertises */
    .container-expertise {
        flex-direction: column;
    }

    .expertise-text {
        width: 100%;
        padding-bottom: 2rem;
    }

    .expertise-text h2 {
        font-size: 3rem;
    }

    .experience-text p {
        font-size: 0.87rem;
    }

    .services-grid {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .service-card {
        width: 100%;
    }

    /* CTA */
    .cta2 {
        font-size: 7rem;
    }

    .contact-me {
        font-size: 1.2rem;
    }

    /* Footer */

    .social-links {
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 480px) {
    /* Mobile */

    /* Navbar */
    .logo {
        font-size: 1rem;
    }

    nav a {
        font-size: 1rem;
    }

    nav ul {
        gap: 1rem;
      }

    /* Hero */

    .hero_container span {
        font-size: 0.87rem;
    }

    .hero_container h1 {
        font-size: 0.87rem;
    }

    /* Intro */
    .container-about{
        display: flex;
        flex-direction: column;
    }
    .intro-description p {
        font-size: 1.5rem;
    }

    /* Featured Works */
    .selected {
        font-size: 2rem;
    }

    .projects {
    display: flex;
    flex-direction: column;
    }

    .project-name {
        bottom: 1.5rem;
      }

    .projects .img-wrapper {
        width: 100%;
        height: auto;
    }

    .projects .img-wrapper img {
        width: 100%;
        height: 25rem;
    }

    .img-wrapper:hover img {
        pointer-events: none;
     }

    .img-wrapper:hover .hover-text {
        pointer-events: none;
    }

    /* Expertises */

    .expertise-text h2 {
        font-size: 2rem;
    }

    .expertise-text p {
        font-size: 1rem;
    }

    .services-grid {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .service-card {
        width: 100%;
    }

    /* CTA */
    .cta2 {
        font-size: 5.5rem;
    }

    .cta3 {
        width: 70%;
    }

    .contact-me {
        font-size: 1.2rem;
    }

    /* Footer */
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .social-links {
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer-left {
        order: 2;
      }
    
      .footer-right {
        order: 1;
      }
}